.attributes {
  display: grid;
  gap: 0.25rem;
}

.attribute {
  display: flex;
  gap: 0.25rem;
}

.attribute-input {
  width: 100%;
  font-size: 1em;
  border: 0;
  padding: 0.25rem 0.5rem;
}

.attribute-name {
  border-radius: 0.25rem 0.125rem 0.125rem 0.25rem;
}

.attribute-value {
  border-radius: 0.125rem 0.25rem 0.25rem 0.125rem;
}
