.attributes {
  display: grid;
  gap: 0.25rem;
}

.attribute {
  display: flex;
  gap: 0.125rem;
}

.attribute-input {
  width: 100%;
  border: 0;
}

.attribute-name {
  composes: attribute-input;
}

.attribute-value {
  composes: attribute-input;
}
