.edge-line {
  content: "";
  width: 0.1rem;
  background-color: #aaa;
  min-height: 1rem;
}

.edge-controls-graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edge-controls {
}

.edge-controls-liner {
  display: flex;
}

.edge-controls-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.node-controls {
  display: flex;
  gap: 0.5rem;
}

.node-controls button {
  padding: 0;
  aspect-ratio: 1;
  border: 0;
  background: 0;
}

.node-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.25rem;
}

.node-panel-title {
  font-size: 0.9em;
}
