.entities {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  margin: 1rem;
}

.entity {
  list-style: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: oklch(80% 0% 230deg);
  display: grid;
  align-content: start;
  gap: 0.5rem;
}
